---

layout: default
permalink: /projects

---

<div align="center">
	
    <!--Start Container-->
    <div class="container">
    	
        <!--Start Content-->
        <div class="content">
                 {% include header.html %}
                 {% include slider.html %}
                <div class="site">

                    
                    <!--Start Site Contenu-->
                        <div class="contenu">
                            
                            <div class="text">
                                <div class="icon"></div>
                                <div class="title">Nos projets</div>
                                <div class="slider">
                                    	<div class="img-prjt"><div class="img-hover"><div class="title">Lorem ipsum project</div></div></div>
                                        <div class="img-prjt"><div class="img-hover"><div class="title">Lorem ipsum project</div></div></div>
                                        <div class="img-prjt"><div class="img-hover"><div class="title">Lorem ipsum project</div></div></div>
                                        <div class="img-prjt"><div class="img-hover"><div class="title">Lorem ipsum project</div></div></div>
                                        <div class="img-prjt"><div class="img-hover"><div class="title">Lorem ipsum project</div></div></div>
                                        <div class="img-prjt"><div class="img-hover"><div class="title">Lorem ipsum project</div></div></div>
                                        <div class="img-prjt"><div class="img-hover"><div class="title">Lorem ipsum project</div></div></div>
                                        <div class="img-prjt"><div class="img-hover"><div class="title">Lorem ipsum project</div></div></div>
                            	</div>
                            </div>
                            <!--End Nos projets-->
                        
                        </div>
                        {% include newsletter.html %}                 
                </div>
            
        </div>
    </div>

    {% include footer.html %}
    
</div>

