              <div class="header">
                    <div class="logo"></div>
                        <div class="menu">
                            <ul>
                                <li><a href="">Home</a></li>
                                <li><a href="">About us</a></li>
                                <li><a href="/projects.html">Our Projects</a></li>
                                <li><a href="">Contact</a></li>
                            </ul>
                        </div>
                </div>