                <div class="center">
                	<div id="wowslider-container">
                            <div id="wowslider-images">
                                <a href="#"><img style="height: 100%;width: 100%;" src="images/img-slider001.jpg" alt="img-slider001" title="img-slider001" id="wows0"/></a>
                                <a href="#"><img style="height: 100%;width: 100%;" src="images/img-slider002.jpg" alt="img-slider002" title="img-slider002" id="wows1"/></a>
                        	</div>
                            <div class="ws_bullets">
                                <a href="#wows0" title="img-slider001"></a>
                                <a href="#wows1" title="img-slider002"></a>
                            </div>
                    </div>
                    <script type="text/javascript" src="js/script.js"></script>
                    
                </div>